body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orangered;
}

.flexiable-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 50px;
}

.half-width img {
    width: 80%;
    height: 500px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(green, orange);
    padding: 10px 40px;
    border-radius: 5px;
    color: darkred;
    font-weight: 700;
}

.top banner {
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
    background-position: left;
}

.Dream-Big {
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area {
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px tomato;
}

#Full-Stack-Developer {
    border-left: 7px solid tomato;
}

#Baby-Web-Developer {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}